{% macro user_identity_stack(username, xp=0, is_admin=false, last_seen=none, check_user_id=none, align='start', show_online=true, show_admin_badge=false, name_class='', status_id=none) %}
<div class="user-identity-stack{% if align == 'end' %} user-identity-stack--end{% endif %}">
    <div class="user-identity-name{% if name_class %} {{ name_class }}{% endif %}">
        <span>{{ username }}</span>
        {% with xp=xp|default(0, true), username=username, is_admin=is_admin, icon_only=true %}
            {% include '_user_level.html' %}
        {% endwith %}
        {% if is_admin and show_admin_badge %}
            {% include '_admin_badge.html' %}
        {% endif %}
    </div>
    {% if show_online %}
        {% with last_seen=last_seen, check_user_id=check_user_id, status_id=status_id %}
            {% include '_online_status.html' %}
        {% endwith %}
    {% endif %}
</div>
{% endmacro %}